USE [master]
GO
/****** Object:  Database [QLi Tiem Net]    Script Date: 16/11/2025 4:22:22 pm ******/
CREATE DATABASE [QLi Tiem Net]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLi Tiem Net', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLi Tiem Net.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLi Tiem Net_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLi Tiem Net_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLi Tiem Net].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLi Tiem Net]
GO
/****** Object:  Table [dbo].[DoUong]    Script Date: 16/11/2025 4:22:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoUong](
	[MaDoUong] [nvarchar](50) NOT NULL,
	[TenDoUong] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_DoUong] PRIMARY KEY CLUSTERED 
(
	[MaDoUong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiChoi]    Script Date: 16/11/2025 4:22:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiChoi](
	[MaGoi] [nvarchar](50) NOT NULL,
	[TenGoi] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_GoiChoi] PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuMuaHang]    Script Date: 16/11/2025 4:22:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuMuaHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[Loai] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [decimal](18, 0) NULL,
	[NgayMua] [datetime] NULL,
 CONSTRAINT [PK_LichSuMuaHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 16/11/2025 4:22:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [nvarchar](50) NOT NULL,
	[TenMonAn] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 16/11/2025 4:22:22 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DoUong] ([MaDoUong], [TenDoUong], [GiaTien]) VALUES (N'A1', N'Trà sữa trân châu đen', N'35000')
INSERT [dbo].[DoUong] ([MaDoUong], [TenDoUong], [GiaTien]) VALUES (N'A2', N'Trà xanh 0 độ', N'15000')
INSERT [dbo].[DoUong] ([MaDoUong], [TenDoUong], [GiaTien]) VALUES (N'A3', N'Nước suối', N'10000')
GO
INSERT [dbo].[GoiChoi] ([MaGoi], [TenGoi], [GiaTien]) VALUES (N'G1', N'10.000 VND - 1 giờ chơi', N'10000')
INSERT [dbo].[GoiChoi] ([MaGoi], [TenGoi], [GiaTien]) VALUES (N'G2', N'20.000 VND - 2 giờ chơi', N'20000')
INSERT [dbo].[GoiChoi] ([MaGoi], [TenGoi], [GiaTien]) VALUES (N'G3', N'50.000 VND - 5 giờ chơi', N'50000')
GO
SET IDENTITY_INSERT [dbo].[LichSuMuaHang] ON 

INSERT [dbo].[LichSuMuaHang] ([ID], [TenDangNhap], [TenSanPham], [Loai], [SoLuong], [GiaTien], [NgayMua]) VALUES (1005, N'user', N'Trà sữa trân châu đen', N'Đồ uống', 1, CAST(35000 AS Decimal(18, 0)), CAST(N'2025-11-16T15:34:00.147' AS DateTime))
INSERT [dbo].[LichSuMuaHang] ([ID], [TenDangNhap], [TenSanPham], [Loai], [SoLuong], [GiaTien], [NgayMua]) VALUES (1006, N'user', N'Trà sữa trân châu đen', N'Đồ uống', 1, CAST(35000 AS Decimal(18, 0)), CAST(N'2025-11-16T15:34:06.423' AS DateTime))
INSERT [dbo].[LichSuMuaHang] ([ID], [TenDangNhap], [TenSanPham], [Loai], [SoLuong], [GiaTien], [NgayMua]) VALUES (1007, N'user', N'Mì xào bò', N'Món ăn', 1, CAST(35000 AS Decimal(18, 0)), CAST(N'2025-11-16T15:43:08.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuMuaHang] OFF
GO
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien]) VALUES (N'ID1', N'Mì xào bò', N'35000')
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien]) VALUES (N'ID2', N'Cơm chiên hải sản', N'35000')
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien]) VALUES (N'ID3', N'Cơm chiên trứng', N'25000')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'admin', N'1 ', N'Admin')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [LoaiTaiKhoan]) VALUES (N'user', N'1', N'User')
GO
ALTER TABLE [dbo].[LichSuMuaHang]  WITH CHECK ADD  CONSTRAINT [FK_LichSuMuaHang_TaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[LichSuMuaHang] CHECK CONSTRAINT [FK_LichSuMuaHang_TaiKhoan]
GO
USE [master]
GO
