USE [master]
GO
/****** Object:  Database [QLi Tiem Net]    Script Date: 11/11/2025 11:23:20 pm ******/
CREATE DATABASE [QLi Tiem Net]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLi Tiem Net', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLi Tiem Net.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLi Tiem Net_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLi Tiem Net_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLi Tiem Net].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLi Tiem Net]
GO
/****** Object:  Table [dbo].[DoUong]    Script Date: 11/11/2025 11:23:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoUong](
	[MaDoUong] [nvarchar](50) NOT NULL,
	[TenDoUong] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_DoUong] PRIMARY KEY CLUSTERED 
(
	[MaDoUong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiChoi]    Script Date: 11/11/2025 11:23:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiChoi](
	[MaGoi] [nvarchar](50) NOT NULL,
	[TenGoi] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_GoiChoi] PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListSP]    Script Date: 11/11/2025 11:23:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListSP](
	[ID San Pham] [nvarchar](50) NOT NULL,
	[MaMonAn] [nvarchar](50) NULL,
	[MaDoUong] [nvarchar](50) NULL,
	[MaGoiChoi] [nvarchar](50) NULL,
 CONSTRAINT [PK_ListSP] PRIMARY KEY CLUSTERED 
(
	[ID San Pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 11/11/2025 11:23:20 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [nvarchar](50) NOT NULL,
	[TenMonAn] [nvarchar](50) NULL,
	[GiaTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DoUong] ([MaDoUong], [TenDoUong], [GiaTien]) VALUES (N'A1', N'Trà sữa trân châu đen', N'35000')
INSERT [dbo].[DoUong] ([MaDoUong], [TenDoUong], [GiaTien]) VALUES (N'A2', N'Trà xanh 0 độ', N'15000')
INSERT [dbo].[DoUong] ([MaDoUong], [TenDoUong], [GiaTien]) VALUES (N'A3', N'Nước suối', N'10000')
GO
INSERT [dbo].[GoiChoi] ([MaGoi], [TenGoi], [GiaTien]) VALUES (N'G1', N'10.000 VND - 1 giờ chơi', N'10000')
INSERT [dbo].[GoiChoi] ([MaGoi], [TenGoi], [GiaTien]) VALUES (N'G2', N'20.000 VND - 2 giờ chơi', N'20000')
INSERT [dbo].[GoiChoi] ([MaGoi], [TenGoi], [GiaTien]) VALUES (N'G3', N'50.000 VND - 5 giờ chơi', N'50000')
GO
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien]) VALUES (N'ID1', N'Mì xào bò', N'35000')
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien]) VALUES (N'ID2', N'Cơm chiên hải sản', N'35000')
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien]) VALUES (N'ID3', N'Cơm chiên trứng', N'25000')
GO
ALTER TABLE [dbo].[ListSP]  WITH CHECK ADD  CONSTRAINT [FK_ListSP_DoUong] FOREIGN KEY([MaDoUong])
REFERENCES [dbo].[DoUong] ([MaDoUong])
GO
ALTER TABLE [dbo].[ListSP] CHECK CONSTRAINT [FK_ListSP_DoUong]
GO
ALTER TABLE [dbo].[ListSP]  WITH CHECK ADD  CONSTRAINT [FK_ListSP_GoiChoi] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[GoiChoi] ([MaGoi])
GO
ALTER TABLE [dbo].[ListSP] CHECK CONSTRAINT [FK_ListSP_GoiChoi]
GO
ALTER TABLE [dbo].[ListSP]  WITH CHECK ADD  CONSTRAINT [FK_ListSP_MonAn] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[ListSP] CHECK CONSTRAINT [FK_ListSP_MonAn]
GO
USE [master]
GO
